.input {
  border: none;
  width: 400px;
  height: 36px;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #777777;
}

.inputBlock {
  display: flex;
  flex-direction: row;
}

.mailIcon {
  width: 27px;
  height: 27px;
  margin-left: -25px;
}

.eye {
  color: var(--dark);
  margin-left: -25px;
  //position: absolute;
  //right: 16px;
  //top: 8px;
  cursor: pointer;
  opacity: 0.4;
}

.eye:hover {
  opacity: 1;
}
