.welcome_block{
  background-color: #FED614;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100vh;
  justify-content: center;
  border-top-right-radius: 30px;
}
.welcome {
  font-size: xx-large;
}

.jamPad_text{
  font-size: x-large;
}

.sing_up_text {
  opacity: 0.5;
}
.joinButton{
  border: none;
  background-color: #383838;
  border-radius: 5px;
  width: 60%;
  height: 36px;
  color: white;
}

.joinButton:hover{
  background-color: #575757;
  transition: 0.1s;

}

.joinButton:active{
  background-color: #383838;
}
