.vacanciesPage {
  display: flex;
  flex-direction: column;


  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //margin-right: 20px;
    //margin-top: 25px;
    margin: 25px 20px 0 5%;

    .header__buttons {
      border: none;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7px 30px;
      margin-left: 5px;
    }

    .header__buttons:hover {
      box-shadow: 0.5px 1px 3px 1px #ababab;
      transition: 0.2s;
    }

    .header__buttons:active {
      background-color: #ffffff;
      box-shadow: 0 0;
      transition: 0.1s;
    }


    .header__button__pathActive {
      border: none;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7px 30px;
      margin-left: 5px;
      box-shadow: 0.5px 1px 3px 1px #ababab;
    }

    .header__button__pathActive:hover {
      box-shadow: 0.5px 2px 3px 2px #ababab;
      transition: 0.2s;
    }

    .header__button__pathActive:active {
      background-color: #ffffff;
      box-shadow: 0 0;
      transition: 0.1s;
    }
  }

  .general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .smallTitle {
      margin: 0;
      font-size: small;
      opacity: 0.5;
    }

    .title {
      margin: 0;
      font-size: large;
      font-weight: bold;
    }


    .vacancy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 17%;
      margin-top: 5%;

      .vacancyEdit {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .vacancyEditBlock {
          border-radius: 10px;
          box-shadow: 0.5px 1px 3px 1px #ababab;
          padding: 10px 10px;

          .vacancyEditSlide {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .dots {
            text-align: center;
          }
        }


        .vacancyButtons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 20px;

          .editButton {
            border: none;
            background-color: #FED614;
            border-radius: 5px;
            padding: 7px 30px;
          }

          .editButton:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
            transition: 0.2s;
          }

          .editButton:active {
            background-color: #FED614;
            box-shadow: 0 0;
            transition: 0.2s;
          }

          .downloadButton {
            border: none;
            background-color: #fff;
            border-radius: 5px;
            padding: 5px 15px;
          }

          .downloadButton:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
            transition: 0.2s;
          }

          .downloadButton:active {
            background-color: #fff;
            box-shadow: 0 0;
            transition: 0.2s;
          }
        }
      }

      .openVacancies {
        margin-top: 30%;

        .openVacanciesHeader {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .input {
            border: none;
            outline: none;
            border-bottom: 2px solid #c7c7c7;
          }

        }

        .openVacanciesBlocks {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;

          .openVacanciesBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 10px;

            padding: 5px 5px;

            .arrow {
              display: flex;
              align-items: center;
            }
          }

          .openVacanciesBlock:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
            transition: 0.3s;
          }

        }

        .newVacancyButton {
          border: none;
          background-color: #FED614;
          border-radius: 5px;
          padding: 10px 0 10px 0;
          width: 100%;
        }

        .newVacancyButton:hover {
          box-shadow: 0.5px 1px 3px 1px #ababab;
          transition: 0.2s;
        }

        .newVacancyButton:active {
          background-color: #FED614;
          box-shadow: 0 0;
          transition: 0.2s;
        }
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      width: 50%;

      .progressStatistics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 40px;

        .graphic {
          box-shadow: 0.5px 1px 3px 1px #ababab;
          border-radius: 10px;
          width: 70%;
          //height: 30%;
        }

        .currentStage {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .iconBlock {
            display: flex;
            align-items: center;
          }

          .icon {
            width: 30px;
            height: 30px;
          }

          .currentStageBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 10px;
            box-shadow: 0.5px 1px 3px 1px #ababab;
            margin-top: 15px;
            width: 200px;
            height: 70px;
            padding: 10px;

            .currentStageScore {
              display: flex;
              flex-direction: column;
              align-self: center;
            }
          }
        }
      }

      .leaderboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        .leaderboard__firsEl {
          display: flex;
          flex-direction: row;

          .leaderboardBlock__title {
            margin: 10px;
            font-size: small;
            opacity: 0.5;
          }

          .leaderboardBlock {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            box-shadow: 0.5px 1px 3px 1px #ababab;
            margin: 15px;
            padding: 15px;

            .leaderboardBlock__rate {
              margin-left: 10%;
              align-items: center;
              font-size: xx-large;
              font-weight: bold;
              margin-bottom: -15px;
            }

            .leaderboardBlock__name {
              font-size: large;
              font-weight: bold;
            }

            .leaderboardBlock__profile {
              display: flex;
              flex-direction: row;
            }
          }
        }

        .leaderboard__otherEl {
          display: flex;
          flex-direction: column;
          width: 35%;

          .leaderboardOtherScroll {
            overflow: auto;
            width: 100%;
            height: 150px;


            .leaderboardScrollBlock {
              display: flex;
              flex-direction: column;

              .leaderboardScrollBlock__info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 10px;

                .leaderboardScrollBlock__title {
                  margin: 0;
                  font-size: small;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
}




