.vacanciesPage {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .general {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .smallTitle {
      margin: 0;
      font-size: small;
      opacity: 0.5;
    }

    .title {
      margin: 0;
      font-size: large;
      font-weight: bold;
    }

    .vacancy {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 17%;
      margin-top: 5%;



      .vacancyEdit {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .vacancyEditBlock {
          border-radius: 10px;
          box-shadow: 0.5px 1px 3px 1px #ababab;
          padding: 10px 10px;

          .vacancyEditSlide {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .dots {
            text-align: center;
          }
        }


        .vacancyButtons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 20px;

          .editButton {
            border: none;
            background-color: #FED614;
            border-radius: 5px;
            padding: 7px 30px;
          }

          .editButton:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
          }

          .editButton:active {
            background-color: #FED614;
            box-shadow: 0 0;
          }

          .downloadButton {
            border: none;
            background-color: #fff;
            border-radius: 5px;
            padding: 5px 15px;
          }

          .downloadButton:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
          }

          .downloadButton:active {
            background-color: #fff;
            box-shadow: 0 0;
          }
        }
      }

      .openVacancies {
        margin-top: 30%;

        .openVacanciesHeader {
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .input {
            border: none;
            outline: none;
            border-bottom: 1px solid #777777;
          }

        }

        .openVacanciesBlocks {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 100%;

          .openVacanciesBlock {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 10px;

            padding: 5px 5px;

            .arrow {
              display: flex;
              align-items: center;
            }
          }

          .openVacanciesBlock:hover {
            box-shadow: 0.5px 1px 3px 1px #ababab;
          }

        }

        .newVacancyButton {
          border: none;
          background-color: #FED614;
          border-radius: 5px;
          padding: 10px 0 10px 0;
          width: 100%;
        }

        .newVacancyButton:hover {
          box-shadow: 0.5px 1px 3px 1px #ababab;
        }

        .newVacancyButton:active {
          background-color: #FED614;
          box-shadow: 0 0;
        }
      }
    }

    .statistic {
      display: flex;
      flex-direction: column;

      .progressStatistics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .currentStage {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
.iconBlock{
  display: flex;
  align-items: center;
}
          .icon {
            width: 30px;
            height: 30px;
          }

          .currentStagePassed {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-radius: 10px;
            box-shadow: 0.5px 1px 3px 1px #ababab;

          }

          .currentStageUnsuccessful {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-radius: 10px;
            box-shadow: 0.5px 1px 3px 1px #ababab;
            margin-top: 15px;
          }

          .currentStageOverall {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-radius: 10px;
            box-shadow: 0.5px 1px 3px 1px #ababab;
            margin-top: 15px;
          }
        }
      }

      .Leaderboard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

      }

    }
  }
}




